@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

body {
  font-family: "Manrope", sans-serif;
}

/* Custom Thin Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(213, 63, 61);
  border-radius: 10px;
  border: 1px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(168, 47, 45);
}

@theme {
  --color-primary-red: #d63f3d;
  --color-text-primary: #9e9da2;
  --color-stroke-primary: #27262a;
  --color-primary-bg: #18181a;
  --color-primary-blue: #18181a;
  --color-secondary-bg: #282529;
}
