@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope", sans-serif;
}

/* Custom Thin Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(213, 63, 61);
  border-radius: 10px;
  border: 1px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(168, 47, 45);
}

@theme {
  --color-primary-red: "#E64954";
  --color-text-primary: "#9E9DA2";
  --color-stroke-primary: "#27262A";
  --color-bg-primary: "#18181A";
  --color-primary-blue: "#40A2DC";
  --color-bg-secondary: "#5D5C5E";
}
